<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.podomarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PodoMarketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PodoMarket">
        <activity android:name=".ui.search.ProductByCategoryActivity"></activity>
        <activity android:name=".ui.product.create.SelectCityActivity" />
        <activity android:name=".ui.product.create.SelectCategoryActivity" />
        <activity android:name=".ui.user.profile.UserInfoEditActivity" />
        <activity android:name=".ui.user.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.chat.ChatRoomActivity" />
        <activity android:name=".ui.article.ArticleCategoryActivity" />
        <activity android:name=".ui.article.ArticleUserActivity" />
        <activity android:name=".ui.article.ArticleCategorizedActivity" />
        <activity android:name=".ui.article.ArticleDetailActivity" />
        <activity android:name=".ui.article.ArticleCreateActivity" />
        <activity android:name=".ui.product.buy.ProductUserBuyActivity" />
        <activity android:name=".ui.product.sell.ProductUserSellActivity" />
        <activity android:name=".ui.product.detail.ProductDetailActivity" />
        <activity android:name=".ui.product.create.ProductCreateActivity" />
        <activity android:name=".ui.user.interested.UserInterestedActivity" />
        <activity android:name=".ui.user.profile.ProfileActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_APP_KEY}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_APP_KEY}" />
    </application>

</manifest>